body {
  background-color: rgb(51, 0, 111);
  width: 800px;
  margin:5px auto;
}

.glyphicon {
  vertical-align:middle !important;
}

.switch-label, .led-label {
  font-size: 1.3em;
  display:block;
  width: 50px;
  margin: -10px 0px 0px -5px;
}

.btn {
  font-size: 1.2em;
}

button {
  margin: 5 auto;
}

h4.gpio {
  margin:13 auto;
}
.well {
  width: 100%;
}

.well-sm {
  margin: 10px auto;
}

.panel {
  background-color: darkgray;
  width: 75%;
  text-align: center;
}
