<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>UW IoT Lab</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery-ui.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/morris.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
  <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/raphael.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/morris.min.js') }}"></script>
  <!--<script src="{{ url_for('static',filename='js/main.js') }}"></script>-->
  <script>
    $(function() {
        $("#tabs").tabs();
    });
  </script>
</head>

<body>
    <div class="container panel" style="width:650px">
      <div class="container well well-sm">
        <h3 id='title'>GPIO Server Sent Events</h3>
      </div>

      <div class="container well">

        <table id="con">
           <tr>
             <td id="params-cell" style="width: 75%;" >
               <div id="tabs">
                 <ul>
                   <li><a href="#tabs-table-data">Table Data</a></li>
                   <li><a href="#tabs-temp">Temperature Chart</a></li>
                   <li><a href="#tabs-press">Pressure Chart</a></li>
                 </ul>
                 <div id="tabs-table-data">
                   <table class="table table-hover table-striped">
                       <tr class=param-header>
                           <th>Time</th>
                           <th>Temp (C)</th>
                           <th>Press (hPa)</th>
                       </tr>
                       <tbody id="sensor-data">
                       </tbody>
                   </table>
                 </div>
                 <div id="tabs-temp">
                   <div id="mytempchart" style="height: 70%; width: 95%;"></div>
                 </div>
                 <div id="tabs-press">
                     <div id="mypresschart" style="height: 70%; width: 95%;"></div>
                 </div>
               </div>
             </td>

             <td id="gpio-cell"  style="width: 25%; padding-left: 15px;" >
               <div class="row">
                  <div class="col-sm-5" id="switch_text">
                    <h4>Switch</h4>
                  </div>
                  <div class="col-sm-4 switch">
                    <h4><span id="switch" class="label switch-label label-default"><span class="glyphicon glyphicon-hand-down"></span></span></h4>
                  </div>
                </div>

                <!-- LED: RED -->
                <div class="row led_row">
                  <div class="col-sm-5 led_button">
                    <button type='button' id="red_led_btn" class="btn btn-md btn-default">Tog</button>
                  </div>
                  <div class="col-sm-4 led_label">
                    <h4><span id="red_led_label" class="label led-label label-default"><span class="glyphicon glyphicon-asterisk"></span></span></h4>
                  </div>
                </div>
                <!-- LED: GREEN -->
                <div class="row led_row">
                  <div class="col-sm-5 led_button">
                    <button type='button' id="grn_led_btn" class="btn btn-md btn-default">Tog</button>
                  </div>
                  <div class="col-sm-4 led_label">
                    <h4><span id="grn_led_label" class="label led-label label-default"><span class="glyphicon glyphicon-asterisk"></span></span></h4>
                  </div>
                </div>
                <!-- LED: BLUE -->
                <div class="row led_row">
                  <div class="col-sm-5 led_button">
                    <button type='button' id="blu_led_btn" class="btn btn-md btn-default">Tog</button>
                  </div>
                  <div class="col-sm-4 led_label">
                    <h4><span id="blu_led_label" class="label led-label label-default"><span class="glyphicon glyphicon-asterisk"></span></span></h4>
                  </div>
                </div>
              </td>
            </tr>
          </table>
  </div>
</div>


  <script type="text/javascript">
    var iotSource = new EventSource("{{ url_for('myData') }}");
  </script>
  <script src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>

</html>
