<html>


<head>
  <meta charset="utf-8">
  <title>Package Delivery Sensor</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/morris.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery-ui.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">

  <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/raphael.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/morris.min.js') }}"></script>

</head>


<body>
  <div class="panel container">
    <div class="container well well-sm">
      <div class="headertext"><h4 id='title'>Package Delivery Sensor</h4></div>
      <div class="notification"><h4 id='notificationtext'>Notification</h4></div>
    </div>

    <div class="container well">
      <table id="con">
        <tr>
          <td id="params-cell">
            <div id="tabs-sensor-chart">
              <div id="sensorchart" style="height: 70%; width: 95%;"></div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <script type="text/javascript">
    var iotSource = new EventSource("{{ url_for('myData') }}");
  </script>
  <script src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>

</html>
