body {
  background-color: rgb(51, 0, 111);
  width: 800px;
  padding-top: 5px;
}

#title {
  text-align: center;
}
#notificationtext {
  text-align: center;
  color: red;
}
.panel {
  margin: 5px auto;
  background-color: darkgray;
  border-radius: 5px;
}

.container {
}

.well {
  width: 100%;
  padding: 0.5%;
}

.well-sm {
  margin: 5px auto;
  padding: 5px;
}

div {
  text-align: center;
}

span.label  {
    font-size: 1.1em;
}

button {
  width: 160%;
}

table {
  background-color: lightgray;
  border-radius: 3px;
  font-size: 1em;
  margin: 5px auto;
}

table#con {
 height: 240px;
 width: 100%;
}

tbody {
  margin-top: 1%;
  margin-bottom: 1%;
}

th,td {
    text-align: left;
}
